* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: #555;
}

.latestContainer li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.grey {
  color: #aaa;
}

.flex-spaceBetween {
  display: flex;
  justify-content: space-between;
}

h1,
h2 {
  color: #f42;
  font-family: Avalon, sans-serif;
  font-size: 28px;
  font-weight: 900;
  width: auto;
}

.mobileMenu,
.logo3 {
  display: none;
}

.menu {
  background: #131313;
  padding: 5px 0;
}

.menu-item {
  display: flex;
}

.menu-item a {
  padding: 0 10px;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  line-height: 1.5;
  font-size: 13px;
}

.menu2 {
  padding: 0 20px;
  align-items: center;
}

.menu-item2 {
  display: flex;
}

.menu-item2 a {
  padding: 0 10px;
  color: rgba(85, 85, 85, 0.671);
  font-family: 'Roboto', sans-serif;
  line-height: 1, 5;
  font-size: 14px;
  font-weight: bolder;
}

.menu2 .fa-search {
  border-left: solid 1px;
  border-color: #b8b8b8;
  color: #b8b8b8;
  padding: 10px 0 10px 15px;
}

.weHeard {
  background-color: #fd3;
  line-height: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  font-family:
    Arial,
    Helvetica,
    sans-serif;
  font-size: 1.2rem;
  width: auto;
}

.fab,
.fas {
  font-size: 18px;
  color: #fff;
}

.weHeard .fas {
  color: black;
}

i {
  padding: 12px;
}

.washed-out {
  color: black;
}

.news-section {
  display: grid;
  grid-template-areas:
    "news__article1 news__article1 news__article2"
    "news__article1 news__article1 news__article3"
    "news__article1 news__article1 news__article3";
  grid-gap: 10px;
  overflow: hidden;
}

.news__article1 {
  grid-area: news__article1;
  min-width: 50%;
  width: auto;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/news1.jpg) center;
  background-size: cover;
  color: #fff;
}

.feature-main__top {
  display: flex;
  justify-content: space-between;
}

.feature-article__date {
  font-size: 0.9rem;
  color: #fd3;
}

.news__title1 {
  font-size: 4.5rem;
  line-height: 1.1;
  letter-spacing: -0.1rem;
  margin: 17rem 0 1rem 2rem;
}

.avalon {
  font-family: Avalon, sans-serif;
}

.news__article2 {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/Sprint_image.jpg) center;
  background-size: cover;
  grid-area: news__article2;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.news__article3 {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/icon1.png) center;
  background-size: cover;
  grid-area: news__article3;
  font-size: 2rem;
}

.app-title1 {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/icon1.png) center;
  background-size: cover;
  margin: 10px 10px 0 10px;
}

.news__title {
  font-weight: 900;
  line-height: 22px;
  font-size: 1.3em;
  color: #fff;
  margin-top: 15rem;
  padding-left: 4%;
}

.news__author {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: -0.1rem;
  padding-left: 4%;
  opacity: 0.7;
}

.latestNews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latestNews h1 {
  align-self: flex-start;
  margin: 3% 0 0 5%;
}

.latestContainer {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  justify-content: center;
  padding: 75px;
}

.latest-deals {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
}

.latestContainer img {
  width: 100%;
  display: block;
}

.latestContainer a {
  color: black;
  text-decoration: none;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
}

.latestItem-title h3 {
  font-size: 15px;
  min-height: 8vh;
  margin-top: 20px;
}

.latestItem-title strong {
  color: #aaa;
}

h1:hover {
  color: black;
}

.more-deals {
  float: right;
  line-height: 18px;
  margin-top: 11px;
}

.old-price {
  text-decoration: line-through;
  margin-right: 4px;
}

.new-price {
  color: #555;
  font-size: 14px;
}

b {
  font-weight: 700;
}

.sponsor-section {
  margin: 5rem 0 12rem 0;
}

.funding-round {
  display: flex;
  justify-content: space-between;
  margin: 3rem 18rem;
  flex-wrap: wrap;
}

.latest-funding {
  display: flex;
  justify-content: space-between;
  margin: 3rem 18rem;
  min-width: auto;
}

.funding-links a {
  color: #f42;
  font-size: 1.5rem;
  font-family: Avalon, sans-serif;
  margin: 0;
}

.funding-links div {
  flex-direction: row;
  border-right: solid 1px #f42;
  float: left;
  padding: 0 12px;
  margin: 12px;
}

.sponsor {
  min-width: auto;
  margin-bottom: 2rem;
}

.sponsor-image img {
  width: 60px;
  height: 60px;
  margin: 10px;
  position: absolute;
}

.sponsor-details {
  min-width: 28rem;
}

.sponsor-details h3 {
  background-color: #f42;
  color: #fff;
  padding: 1rem 1rem 1rem 8rem;
  font-size: 18px;
  margin: 0;
}

.sponsor-details h4 {
  margin: 0;
  font-size: 18px;
  color: #000;
  font-weight: 700;
  line-height: 1.25;
}

.sponsor-details h5 {
  font-size: 12px;
  margin: 0;
  font-family: Shentox, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #000;
  opacity: 0.5;
}

.sponsor-assets {
  padding: 1rem 1rem 1rem 8rem;
  color: #000;
  background: rgba(255, 68, 34, 0.08);
  margin: 0;
}

.sponsor-cards {
  padding: 16px;
  background-color: rgb(224, 233, 230);
}

.sponsor-tag {
  position: relative;
  padding-left: 2em;
  font-size: 13px;
  margin-right: 1em;
  display: block;
  color: #555;
  line-height: 22px;
}

.sponsor-tag span {
  padding: 15px;
}

.sponsor-cards i {
  color: black;
  margin: auto;
  padding: 1vh;
}

.sponsor-cards span {
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  color: #555;
  line-height: 1.5;
  font-weight: normal;
}

.border {
  border-top: 1px solid rgba(255, 68, 34, 0.25);
  padding-top: 10px;
}

.border p {
  padding-left: 2em;
  color: #555;
  font-size: 12px;
  font-weight: 400;
}

.faded-out {
  color: #aaa;
}

.article-section {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-auto-rows: 1fr;
  grid-gap: 2.5rem;
  justify-content: center;
  margin-top: 40px;
}

.sectionPopular {
  background:
    linear-gradient(rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 50)),
    url(../assets/images/image-gradient1.png) center;
  background-repeat: no-repeat;
  padding: 50px 0 0 100px;
  margin: 0;
}

.sectionPopular2 {
  background:
    linear-gradient(rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 50)),
    url(../assets/images/header-image-escobar-suing-apple-368x276.png) center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionPopular3 {
  background:
    linear-gradient(rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 50)),
    url(../assets/images/Trump-Twitter-368x276.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionPopular4 {
  background:
    linear-gradient(rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 50)),
    url(../assets/images/Untitled-design-53-516x270.png) center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionPopular5 {
  background:
    linear-gradient(rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 50)),
    url(../assets/images/image5-368x276.png) center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionPopular6 {
  background:
    linear-gradient(rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 50)),
    url(../assets/images/justas-vinted-gq-1-368x276.png) border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionPopular7 {
  background:
    linear-gradient(rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 50)),
    url(../assets/images/Facebook-Discover-368x276.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionPopular8 {
  background:
    linear-gradient(rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 50)),
    url(../assets/images/HBO-Max-368x276.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
}

.listOne {
  list-style: none;
}

.white {
  color: white;
}

.time-color {
  color: hsla(0, 0%, 100%, 0.6);
}

.no-margin {
  margin: 0;
}

.padding-top {
  padding: 10px 0;
}

.sectionPopular .news__title {
  width: auto;
  padding: 0;
  position: relative;
  top: 10vh;
  right: 7vh;
}

.mostPopular {
  color: #fff;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.latest {
  background-color: rgb(236, 234, 234);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latest img {
  width: 10vh;
  height: 10vh;
}

.laTitles {
  grid-template-columns: repeat(1, 1fr);
  padding: 10px;
  color: #f42;
}

.popular li a {
  color: #000;
  opacity: 0.6;
  padding: 3px 0 6px 0;
  position: relative;
  display: block;
  margin: 0;
}

.popular h2 {
  margin-bottom: 1rem;
}

.listTwo {
  padding: 1.5rem;
}

.listTwo li {
  list-style: disc;
  color: #f42;
  margin-bottom: 0.3rem;
  border-bottom: 1px solid #eee;
}

.testing {
  color: #333;
  font-size: 0.8rem;
}

.title__tag {
  text-transform: uppercase;
  font-size: 1rem;
}

footer {
  text-align: center;
}

.footer {
  position: relative;
}

.footer-links {
  background: #131313;
  padding: 2.5em 0;
}

.footer-wrapper {
  margin: 0 auto;
  max-width: 1192px;
  padding: 0 20px;
}

.footer-links-social {
  margin-bottom: 1.5em;
}

.footer-links-social li {
  display: inline-block;
  margin: 0 3px;
  background: #333;
  border-radius: 50%;
  height: 40px;
  padding: 5px;
  text-align: center;
  width: 40px;
}

.footer-links-menu li {
  font-family: Shentox, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  font-size: 13px;
  line-height: 24px;
  margin: 0 4px;
}

.footer-wrapper::after {
  clear: both;
  content: "";
  display: block;
}

.footer-copyright {
  background: #000;
  color: #aaa;
  font-size: 13px;
  padding: 2.5em 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1192px;
  padding: 0 20px;
}

.footer-copyright span {
  display: block;
}

.footer-legal-logo {
  display: inline-block;
  height: 9px;
  margin-right: 1px;
  vertical-align: baseline;
}

.footer-links-menu li a {
  color: #fff;
}

.footer-copyright span b {
  color: #f42;
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .logo3 {
    display: initial;
  }

  .logo3 img {
    min-height: auto;
    width: 85px;
  }

  .justFlex {
    display: flex;
    justify-content: space-between;
  }

  .screenMenu {
    width: 100%;
  }

  .menuMobile {
    display: flex;
    flex-direction: column;
  }

  .weHeard {
    height: 100%;
    font-size: 0.8rem;
    margin-top: -5px;
  }

  .sponsor-details {
    min-width: 20rem;
  }

  .latest-funding {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 34rem;
  }

  .latest-funding h2 {
    font-size: 4vh;
  }

  .funding-links div {
    padding-left: 0;
    margin-left: 0;
  }

  .funding-links a {
    font-size: 2vh;
  }

  .news__title1 {
    font-size: 2.5rem;
  }

  .news__article2 {
    font-size: 1rem;
  }

  .news__article3 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .logo3 {
    display: none;
  }

  .news__title1 {
    font-size: 2.5rem;
    margin: 0;
  }

  .news__article2 {
    font-size: 1rem;
  }

  .news__article3 {
    font-size: 1rem;
  }

  .screenMenu {
    display: none;
  }

  .menuMobile {
    display: flex;
    flex-direction: column;
  }

  .mobileMenu {
    display: flex;
    height: 4.5vh;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .mobileMenu img {
    min-height: auto;
    height: 125%;
  }

  .fa-bars {
    color: #f42;
  }

  .fa-search {
    height: 100%;
    min-height: auto;
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: #b8b8b8;
    color: #b8b8b8;
  }

  .feature-article__logo,
  .feature-article__date {
    display: none;
  }

  .weHeard {
    min-height: auto;
    height: 10vh;
    font-size: 0.8rem;
    padding: 0.5 rem;
    margin-top: 0.4rem;
    justify-content: center;
  }

  .news-section {
    display: grid;
    grid-template-areas:
      "news__article1"
      "news__article2"
      "news__article3";
    grid-gap: 0.8rem;
    overflow: hidden;
    margin: 1rem 0.5rem;
  }

  .news__article1,
  .news__article2,
  .news__article3 {
    height: 30vh;
  }

  .news__title,
  .news__title1 {
    font-weight: 900;
    line-height: 22px;
    font-size: 1.3em;
    color: #fff;
    margin-top: 70px;
    padding: 20px;
  }

  .latestContainer,
  .latest-funding,
  .funding-links,
  .sponsor-details,
  .latestNews,
  .latest-deals {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: auto;
    flex-wrap: nowrap;
  }

  .latestContainer {
    padding-left: 3vh;
    min-width: auto;
  }

  .latestItem {
    min-height: 72px;
    min-width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .funding-links div {
    border: none;
    margin-top: 0.5rem;
    padding-left: 0;
    margin-left: 0;
  }

  .latestContainer img {
    width: 85px;
    height: 70px;
  }

  .latestContainer a {
    color: black;
    text-decoration: none;
    font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
  }

  .latestItem-title {
    margin-left: 1rem;
  }

  .latestItem-title h3 {
    min-width: 200px;
    margin: 0;
    padding: 0;
  }

  .latestItem-title strong {
    padding: 0;
  }

  .old-price,
  .new-price {
    color: #aaa;
    font-size: 12px;
    line-height: 18px;
    padding-top: 4px;
    vertical-align: baseline;
  }

  .funding-links a {
    font-size: 2vh;
  }

  .article-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    margin: 10px;
  }

  .sponsor-section {
    justify-content: flex-start;
    margin: -2rem 0 0 1.5rem;
  }

  .funding-round {
    padding: 0 5rem 5rem 0;
    margin: 2rem 5rem 5rem 0;
    width: auto;
  }

  .latest-funding {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 20rem;
  }

  .latest-funding h2 {
    font-size: 4vh;
  }

  .sponsor-details {
    min-width: 20rem;
  }
}

@media (min-width: 1024px) {
  .main {
    max-width: 100%;
  }

  html {
    font-size: 62.5%;
  }
}
