body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

@media only screen and (max-width: 760px) {
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .flex-spaceBetween{
        display: flex;
        justify-content: space-between;
    }
    .flex{
        display: flex;
        flex-direction: column;
    }

    .washed-out{
        color: black;
    }


    .mobileMenu {
        align-items: initial;
        margin-bottom: 0;
    }

    i{
        padding: 16px;
    }
    .fa-bars{
        color:#f42;
    }
    .fa-search {
        border-left: solid 1px;
        border-right: solid 1px;
        border-color: #B8B8B8;
        color: #B8B8B8;       
    }
    
    .weHeard {
        background-color: yellow;
        margin-top: -4px;
        height: 10vh;
        padding:0px 0px 0px 20px;
        align-self: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        width: auto;
    }
    .news-section{
        height: 120vh;
    }
    .news__article1{
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
        url(../assets/images/news1.jpg) center;
        background-size: cover;
        bottom: 4px;       
        
        top: 4px;
        margin: -4px 10px 0px 10px;
        z-index: 2;
       
    }
    .news__article2{
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
        url(../assets/images/Sprint_image.jpg) center;
        background-size: cover;
        
        margin: 10px 10px 0px 10px;
       
    }

    .news__article3 {
        background:linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
        url(../assets/images/icon-rewind-apps-slack-instagram-tinder-1-796x444.png) center;
        background-size: cover;
        
        margin: 10px 10px 0px 10px;

    }
    .news__title{
        font-weight: 900;
        line-height: 22px;
        font-size: 1.3em;
        color: #fff;
        margin-top: 70px;
        padding:20px;
    }
    .news__author{
        font-size: 0.8rem;
        font-weight: 400;
        
    }

    h1{
        color: #f42;
        font-family: Avalon, sans-serif;
        font-size: 28px;
        padding: 0 10px;
        font-weight: 900;
        width: auto;
    }

    .latestContainer img{
        width: 85px;
        height: 70px;
    }

    .latestContainer a {
        color: black;
        text-decoration: none;
        font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
        font-size: 15px;
    }
    
    .latestItem {
        width:auto;
        height: 10vh;
        display: flex;
        align-items: flex-start;
        padding: 20px 10px;
    }

    .latestItem-title{
        padding-left: 2vh;
        width: 100%;
    }
    .latestItem-title h3{
        margin-bottom: 3px;
        font-size: 100%;
    }

    .latestItem-title strong{
        color: #aaa;;
    }
    /*ul{
        padding: 0px 0px 0px 10px;
    }*/
    .funding-links a{
        color: #f42;
        line-height: 11px;
        margin-top: 11px;
        display: block;
        padding: 0px;
        font-weight: 400;
    }
    h1:hover{
        color: black;

    }
    .latestItem-title h3:hover{
        color: #f42;
    }
    .sponsor{
        background-color:rgba(255,68,34,.08);     
    }
    .sponsor img{
        width: 60px;
        min-width: 60px;
        max-width: 60px;
        height: 60px;
        min-height: 60px;
        max-height: 60px;
        margin: 10.6666666667px;
        position: absolute;
        z-index: 10
    }
    .sponsor-details h3{
        background-color: #f42;
        color: #fff;
        padding: 10.6666666667px 16px 10.6666666667px 84px; 
        font-size: 18px !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
    }
    .sponsor-details h4 {
        margin: 0;
    }
    .sponsor-details h5{
        font-size: 12px;
        margin: 0;
        font-family: Shentox,sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: .04em;
        line-height: 1.5;
        color: #000;
        opacity: .5;
    }
    .sponsor-assets{
       padding: 10.6666666667px 16px 10.6666666667px 84px;
       color: #000;
       background: rgba(255, 68, 34, .08); 
       margin: 0;      
    }
  .sponsor-cards{
      padding: 16px;
  }
  .sponsor-tag{
      position: relative;
      padding-left: 2em;
      font-size: 13px;
      margin-right: 1em;
      display: block;
      color: #555;
      line-height: 22px;
  }
  .sponsor-tag span{
      padding:15px;
  }

  .sponsor-cards i {
      color: black;
      margin: auto;
      padding: 1vh;
  }

  .sponsor-cards span {
    font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
    font-size: 12px;
    color: #555;
    line-height: 1.5;
    font-weight: normal;
  } 

  .border{
      border-top: 1px solid #f42;
  }
  .border p{
    padding-left: 2em;
    color: #555;
      font-size: 12px;
      font-weight: 400;
  }
  .faded-out{
      color:#aaa
  }

  .sectionPopular {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url(../assets/images/image-gradient1.png) center;
    background-repeat: no-repeat;

    padding: 130px 100px;
    margin: auto;
  }

  .popular ul {
     margin: 0;
     padding: 0;
  }
}